html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolAnc {
  background: #b1afaf;
  border-radius: 10px;
  padding: 4rem;
  text-decoration: none;
  color: #0a0707;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}
.tooldiv {
 display: block;
 flex-direction: row; 
 padding: 7rem;
}

.NavBarDiv{
  background: #b1afaf;
  align-items: top;
  width: 100%;
  height: 6%;
  padding-left: 40px;
  text-decoration: none;
  color: #0a0707;
}

.NavBarAnc {
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-decoration: none;
  color: #0a0707;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.NavBarAnc:hover {
  background: #0a0707;
  color: white;
  text-decoration: none;
  
}

.xsstextarea{
  display: block;
  padding-top: 8rem;
  justify-content: stretch;
  
}